<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ваш результат</h1>
    <p><b>Business Analysis: </b><%= (directions["1"]*100).toFixed(0) %>%</p>
    <p><b>Data Engineering: </b><%= (directions["2"]*100).toFixed(0) %>%</p>
    <p><b>Development: </b><%= (directions["3"]*100).toFixed(0) %>%</p>
    <p><b>Testing: </b><%= (directions["4"]*100).toFixed(0) %>%</p>
    
</body>
</html>